/*body {background: #efefef;font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;color: #000000;}*/
/*body.left_menu {background-color: #efefef;margin: 5px;	}*/
/*body a:link {color: #22229c}*/
body a:visited {color: #22229c}
body a:hover {color: #ff4400}
body a:active {color: #ff4400}
body.header{margin: 5px;}
body.content{margin: 0px;}

.page {background: #ffffff; color: rgb(0,0,0)}
p {font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
li {font: 13px/20px verdana,geneva,lucida,"lucida grande",arial,helvetica,sans-serif;list-style: outside none none;}

.alt0 {	background: #ffffff; color: #000000}
.alt1 {	background: #e1e4f2; color: #000000}
.alt1active {	background: #e1e4f2; color: #000000}
.alt2 {	background: #f5f5ff; color: #000000}
.alt2active { background: #f5f5ff; color: #000000 }
.alt3 {	background: #ffffff; color: #000000 }
.alt4 {	background: #e1e4f2; color: #000000 }

/**********/
.msg_error{color: #cd0000;	}


/*
* Auther : Vinek T.
* Description : CSS for all pages in back-end customization
* Date : 26th March'2016
*/
.header-admin {background: #333 none repeat scroll 0 0;border: 1px solid #333;color: #fff;font-size: 20px;font-weight: 600;height: 100px;line-height: 100px;text-align: center;}
.footer-admin {background: #333 none repeat scroll 0 0;border: 1px solid #333;color: #fff;font-size: 13px;height: 100px;padding-top: 20px;text-align: center;}
label {font-weight: 500 !important}
.clear { clear: both; }

/*-- Admin menus --*/
#nav {border-top: 1px solid #999;border-right: 1px solid #999;border-left: 1px solid #999;padding:0;}
#nav li a {display: block;padding: 10px 15px;background: #ccc;border-top: 1px solid #eee;border-bottom: 1px solid #999;text-decoration: none;color: #000;}
#nav li a:hover, #nav li a.active {background: #999;color: #fff;}
#nav li ul {display: none;}
#nav li ul li a {padding: 10px 25px;background: #ececec;border-bottom: 1px dotted #ccc;}
#sub-nav { padding:0; }
.frmMenus label span {color: red;}
.table {border-bottom: 1px solid #cccccc !important;border-left: 1px solid #cccccc !important;border-right: 1px solid #cccccc !important;}

/*-- Admin pop-ups --*/
#back-color {background: #333 none repeat scroll 0 0;height:100%;opacity: 0.5;position: fixed;top: 0;width: 100%;z-index: 1}
.pop-up-form {left: 10px;margin: 0;position: fixed;right: 10px;top: 10%;z-index: 1;}
.tile-links {font-size: 13px;}
.tile-links a {text-decoration: underline;}
.tile-links a:hover {text-decoration: none;}


/*
* Auther : Vinek T.
* Description : CSS for all pages in front-end customization
* Date : 8th April'2016
*/
/*-- Login page --*/
#frmUserLogin span {color: red;font-size: 14px;font-weight: 600;line-height: 40px;}