body{margin:0; padding:0; font-family:'Open Sans';}
body.home{background:url(../images/body-bg.jpg) no-repeat center top; background-size:100% auto;}

*{box-sizing:border-box; margin:0; padding:0;}
::selection {background: #574135; color: #fff; text-shadow: none;}
::-moz-selection {background: #574135 ; color: #fff; text-shadow: none;}

a{color:#835719; text-decoration:none;
text-decoration: none;
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-o-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
transition:all 0.5s ease;}
a:hover{color:#000;}

@font-face {
font-family: 'Arno Pro Smbd';
src: url('../fonts/ArnoPro-SmbdItalic.eot?iefix') format('eot'),
url('../fonts/ArnoPro-SmbdItalic.woff') format('woff'),
url('../fonts/ArnoPro-SmbdItalic.ttf') format('truetype'),
url('../fonts/ArnoPro-SmbdItalic.otf') format('opentype'),
url('../fonts/ArnoPro-SmbdItalic.svg#PTS75F') format('svg');}

.clear{clear:both;}
h1 {color: #574135; font-size: 60px; font-weight: 700; text-shadow:0 0 10px #ffffff;}
h2 {color: #2d2d2d; font-size: 36px; font-weight: 600;}

p{font-size:16px; font-weight:400; color:#505050; margin:0 0 20px; font-family:'Open Sans'}

/*Welcome Page CSS Start*/
.introBox {margin: 57px auto 0; max-width: 640px;}
.introBoxInner {margin-left: 160px; width: 100%;}
.introBox h1 {color: #574135; font-family: 'Arno Pro Smbd'; font-weight:normal; font-size: 54px; margin: 0 0 116px; text-shadow: 2px 3px 22px #ffffff, 2px 3px 22px #ffffff, 2px 3px 22px #ffffff, 2px 3px 22px #ffffff;}
.introBox h2 {color: #574135; font-family: 'Arno Pro Smbd'; font-weight:normal; font-size: 66px; margin: 0 0 9px; text-shadow: 2px 3px 22px #ffffff, 2px 3px 22px #ffffff, 2px 3px 22px #ffffff, 2px 3px 22px #ffffff;}
.introBox p{font-weight:600; color:#835719; font-size:18px; text-align:center; font-family:'Open Sans'; margin:0 0 52px -190px;}
.introBoxInner .wlcmBtn {background: #574135;border: 2px solid #ffffff;color: #ffffff;display: block;font-size: 22px;font-weight: 600;margin: 10px 0 0 330px;padding: 10px 30px;text-align: center;text-transform: uppercase;width: 175px;}
.wlcmBtn:hover {background: #6d5243 none repeat scroll 0 0;color: #fff;text-decoration: none;}

/*.socialBox {float: left; margin: 109px 0 40px 162px; width: 146px;}*/
.socialBox {float: left;margin: 90px 0 20px 185px;width: 146px;}
.socialBox a{width:44px; height:44px; background:url(../images/social-sprite.png) no-repeat 0 0; float:left; margin:0 7px 0 0;
-webkit-transition: all 0.5s ease 0s;
-moz-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
-ms-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;}
.socialBox a.link{background-position:0 0;}
.socialBox a.link:hover{background-position:0 -50px;}
.socialBox a.twit{background-position:-51px 0;}
.socialBox a.twit:hover{background-position:-51px -50px;}
.socialBox a.fb{background-position:-102px 0; margin:0;}
.socialBox a.fb:hover{background-position:-102px -50px;}
.copyright{padding:15px 0 12px; color:#fff; font-size:14px; font-weight:400; clear:both;}
.copyright p{text-align:center; margin:0; padding:0 10px; font-size:14px; color:#fff;}
.copyright a{color:#fff !important;}
.copyright a:hover{color:#cd9c81 !important;text-decoration: none;}
.copyright{background:#1f1f1f;}
.inner .copyright{background:#9f9f9f;}
/*Welcome Page CSS End*/

/*Home Page CSS Start*/
#wrapper {float:left; width: 100%;}
.headerMenu {float: left; width: 100%; background:url(../images/header-bg.png) no-repeat center top; height:177px; position:absolute; background-size:100% 177px; z-index:9;}
.headerMenuMid {max-width: 1030px; margin: 0 auto;}
.headerMenuMid ul {left: 80px;line-height: 9;margin: 0;padding: 0;position: relative;}
.headerMenuMid ul li {display: inline;list-style: outside none none;padding-right: 55px;}
.headerMenuMid ul li.aboutTab, .headerMenuMid ul li.loginTab, .headerMenuMid ul li.logoutTab{padding-right:0;}
.headerMenuMid ul li.dsbord {float: right; margin-top: 48px; width:104px; position:relative;}
.dropdown.notifName{position:relative;}
.headerMenuMid ul li.dsbord button.caret{background:url(../images/drp-img.png) no-repeat scroll 0 0; border: 0 none; height: 10px; position: absolute; right: -5px; top: 5px; width: 12px; box-shadow:none;}
.dropdown.notifName .btn.btn-default.user-dropdown-toggle{border:0; background:none; box-shadow:none; outline:none;}
.dropdown.notifName .btn.btn-default.user-dropdown-toggle span.caret {background:url(../images/drp-img.png) no-repeat scroll 0 0; border: 0 none; height: 10px; position: absolute; right: -5px; top: 13px; width: 12px; box-shadow:none;}

.headerMenuMid ul li.dsbord ul{left:0;}
.headerMenuMid ul li a{color:#2d2d2d; font-size:14px; text-transform:uppercase;}
.headerMenuMid ul li a:hover, .headerMenuMid ul li.active a{color:#b6a183;}
.headerMenuMid ul li.logo {position: relative;top: 28px;}
.headerMenuMid ul li:last-child{padding-right:0;}
.headerBanner{width:100%; margin-top:80px;}
.headerBanner img{width:100%; height:auto;}
.cmnWidth {max-width: 1160px; margin:0 auto;}
.headerBannerMid {max-width: 1160px; position: absolute; top: 0; right: 0; left: 0; margin-top:255px;}
.bannerTxt {float: right;}
.bannerTxt p{text-align:center; font-family:'Open Sans'; font-weight:600; color:#835719; font-size:18px;}
.bannerTxt h1{margin-bottom:0;}
.bannerTxt h2{margin-bottom:50px; color: #2d2d2d; font-size: 36px; font-weight: 600;}
.bannerTxt h1, .bannerTxt h2{position:relative;}
.bannerTxt h1:before {background:url(../images/txt-bfore.png) no-repeat scroll left top; content: ""; height: 27px; left: -35px; position: absolute; top: 15px; width: 25px;}
.bannerTxt h2:after{background:url(../images/txt-after.png) no-repeat right top; content: ""; height: 27px; right: 0; position: absolute; top: 15px; width: 25px;}
.welcomeBox {margin-top: 42px; margin-bottom:60px; text-align: center;}
.welcomeBox h2{color:#907959; font-size:30px; font-weight:600; margin:0 0 8px;}
.welcomeBox p{font-size:16px; font-weight:400; color:#505050; margin:0 0 20px; font-family:'Open Sans'}
.welcomeBox .clTxt{color:#505050; font-size:18px; font-weight:600; margin:0 0 12px; display:block;}
.bookBg{max-width:1154px; margin:0 auto 70px; background:url(../images/book-bg.jpg) no-repeat 0 0;}
.bookInner {margin: 0 auto; max-width: 650px; padding: 68px 0;}
.bookInner img {float: left; margin: 0 30px 0 0;
transition:all 0.5s ease 0s; transform: rotate(360deg); -webkit-transition:all 0.5s ease 0s; -webkit-transform: rotate(360deg);}
.bookInner img:hover{
 -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";}
.bookTxtLft {float: left; margin-top:15px;}
.bookTxtLft h3{color:#5a4931; font-weight:700; font-size:35px; text-shadow:0 0 6px #fff,0 0 6px #fff; margin:0;}
.bookTxtLft span{color:#000000; font-size:19px; font-weight:600;}
.bookTxtRight {float: right; margin:30px 0 0 0;}
.bookTxtRight a {background: #ffffff;color: #624f41 !important;float: left;font-size: 15px !important;font-weight: 700; line-height:normal; padding: 5px 20px;text-transform: uppercase;}
.bookTxtRight a:hover {background: #624f41; color: #fff !important;text-decoration: none}

.footer{background:url(../images/footer-bg.jpg) repeat center top; padding:40px 0 30px; clear:both;}
.footer h3{color:#000; font-size:18px; font-weight:600; text-transform:uppercase; margin:0 0 10px;}
.footerLft {float: left; width: 390px; margin: 0 50px 0 0;}
.footerLft .detaiLUp {color: #000000; float: left; font-size: 13px; font-weight: 600; margin-bottom: 9px; width: 100%;}
.footerLft .detailLft {float: left; line-height:normal; margin-right: 50px; width: 128px;}
.footerLft .detailRight {float: left; line-height:normal; width:200px;}
.footerLft  a{color:#000;}
.footerLft .detailFull{margin-bottom:0; clear:both;}
.detailFull img {margin-right: 5px; vertical-align: middle;}
.detailFull h4 {font-size: 14px; font-weight: 400; margin: 0 0 4px;}
.detailFull p{font-size:13px; font-family:'Open Sans'; font-weight:600; color:#000; margin:0 0 7px;}
.detailFull p em {font-style: normal;}
.detailFull p:last-child{margin-bottom:0;}
.footerMid {float: left; margin: 40px 0 0 0;}
.footerMid ul {background: #f5f5f6; padding: 20px 30px;}
.footerMid ul li {background:url(../images/disc.png) no-repeat 0 7px; display: inline; font-size:14px; list-style: none; margin: 0; padding: 0 30px 0 15px; font-family:'Open Sans';}
.footerMid ul li:last-child{padding-right:0;}
.footerMid ul li a{color:#000; font-size:14px; font-weight:600;}
.footerRight {float: right;}
.footerRight .socialBox {margin:10px 0 0 0;}
/*Home Page CSS End*/

@media all and (min-width: 1450px){
.headerMenuMid ul li.dsbord{margin-top:-69px;}
}

@media all and (max-width: 1400px){
	body.home{background:url(../images/body-bg.jpg) no-repeat center top;}
}

/*About/Contact Page CSS Start*/
.contactBox {background: #f8f4ef; border: 1px solid #ece5e0; padding: 40px 50px; margin-bottom:50px;}
.contactBox h2 {color: #907959; text-transform: uppercase; margin: 0 0 45px; text-align: center;}
.contactImg {float: left; margin:0 50px 0 0}
.contactImg img{border:5px solid #fff;}
.contactTxt {float: left;}
.contactTxt p{font-size:16px;}
.contactDetail {float: left; width: 100%;}
.contactDetail p {clear: both; display: block; float: left; width: 100%;}
.contactDetail p a{color:#000;}
.contactDetail span {color: #282727; float:left; font-size: 16px; font-weight: 600;}
.contactDetail img {float: left; margin-right: 10px; vertical-align: middle;
}
.contactDetail span.phoneSpan {margin-top: 7px;}
/*About/Contact Page CSS End*/


/*-- User Dashboard CSS Start --*/
body#user-dashboard{border-top:9px solid #423127;background:#eae6e1;}
header {background: #fff none repeat scroll 0 0;padding: 25px 0 15px;}
.col-sm-3.userNotif {float: right;text-align: right;width: 300px;}
.notifImg {float: left;margin: 20px 20px 0 0;position: relative;}
span.notifCount {background: #e10303; border-radius: 50%; color: #ffffff; font-size: 12px; height: 18px; line-height: 17px; position: absolute; right: -10px; text-align: center; top: -11px; width: 18px;}
.notifName{margin:17px 0 0 0;}
.notifName a{font-size:17px; color:#000; font-weight:400; text-decoration:none;}
.notifName a:hover{color:#9b9a9a;}
span.drpImg{margin:0 0 0 8px; position:relative; top:-2px;}
.leftSidebar{background:#4d3528; padding:0;}
.leftSidebar ul {margin: 0; padding: 0 0 110px;}
.leftSidebar ul li{padding:0; border-bottom:1px solid #725241; text-align:center; list-style:none; position:relative;}
.leftSidebar ul li.selected:before, .leftSidebar ul li:hover:before{position:absolute; content:""; background:url(../images/selected-triangle.png) no-repeat right center; width:16px; height:21px; right:-15px; top:52px;}
.leftSidebar ul li a{color:#fff; font-weight:700; font-size:15px; display:block; text-transform:uppercase; padding:37px 0 15px;}
.leftSidebar ul li a img{margin-bottom:5px;}
.leftSidebar ul li a:hover{color:#dcc7bb; text-decoration:none;}

.contentPart label {color:#000000;display:block;font-size:13px;margin:0 0 6px;}
.contentPart input[type="text"], .contentPart input[type="text"], .contentPart input[type="email"], .contentPart input[type="password"], .contentPart  select{padding:10px 5px 8px; width:100%; border:1px solid #232323;}
.contentPart .col-sm-6, .contentPart .col-sm-12, .contentPart .col-sm-5 {margin:0 0 17px;}
.contentPart .col-sm-12.extraTxt{margin-bottom:14px;}
footer{background:#bda78f; padding:13px 0 10px; text-align:center; font-size:13px; color:#000; font-weight:400;}
.editProfBtn {margin: 0 auto 34px; width: 183px;}
.editProfBtn a {background:url(../images/edit-prof-bg.png) repeat-x scroll 0 0; border: 1px solid #736660; color: #ffffff; float: left; font-size: 20px; font-weight: 400; height: 43px; line-height: normal; padding: 8px 25px 0;}
.editProfBtn a:hover {opacity:0.6;}
.bottomButtons {margin: 30px 0 20px; width: 100%; float:left; padding:0 0 0 15px;}
.bottomButtons a {background:url(../images/btm-btn-bg.png) repeat-x scroll 0 0; border: 1px solid #736660; color: #ffffff; float: left; font-size: 17px; font-weight: 400; height: 37px; line-height: normal; padding: 7px 17px 0; margin:0 10px 0 0;}
.bottomButtons a:hover {opacity:0.6;}
.bottomButtons a.cancelBtn{background:url(../images/cancel-btn-bg.png) repeat-x 0 0; border:1px solid #cbcaca; color:#3c3c3c; text-shadow:none;}
.container.contentUpperMain{max-width:1500px; width:96%;}
.container.contentMain{background:url(../images/content-bg.jpg) repeat-y 0 0; max-width:1500px; width:96%;}
.contentPart .row {margin: 0;}
.contentPart input[type="checkbox"] {float: left; margin: 4px 10px 0 0;}
.contentPart .recurring label {display: inline;float: left;margin-top: 4px;margin-right: 10px;}
.contentPart .recurring select {padding: 5px;width: 200px;}
.contentPart .serviceBox input[type="text"] {float: left; margin-right: 14px; padding: 6px 7px; width: 100px; height: 37px}
.contentPart .serviceBox select {padding:5px; width: 88px;}
.contentPart .addTip label {float: left; margin-top:10px; width: 110px;}
.contentPart .addTip input[type="text"] {float: left;width: 200px;}
.contentPart .addTip select {float: left !important;width: 200px !important;}
.contentPart .addTip p {float: left; width:100%;}
.contentPart input[type="password"]::-moz-placeholder {color: #686868;font-size: 30px;letter-spacing: -2px;line-height: 0;}

.numHr select {max-width: 240px;}
.ratedTable {width: 100%;}
.ratedTable tr th {color: #616161; font-size: 14px; text-transform:uppercase;}
.ratedTable tr td {background: #e8e8e8; font-size: 14px; color: #373737; border-bottom:10px solid #fff;}
.ratedTable tr th, .ratedTable tr td {padding: 10px;}
.ratedTable tr th {padding-bottom: 25px;}
.rated {background: #21ae0e; border-radius: 5px; color: #ffffff; padding: 1px 8px 3px; float: left;}
.rated:hover{background:#17770a; color:#fff;}
.rateUs {background: #e2071c; border-radius: 5px; color: #ffffff; padding: 1px 8px 3px; float: left;}
.rateUs:hover{background:#990412; color:#fff;}
.dropdown.bookServ button.btn.btn-primary.dropdown-toggle {background:none; border: 0 none; width: 100%; font-size: 15px; font-weight: 700; text-transform: uppercase; padding: 37px 0 15px;}
.dropdown.bookServ button.btn.btn-primary.dropdown-toggle:focus{outline:none;}
.dropdown.bookServ button.btn.btn-primary.dropdown-toggle img{margin-bottom:5px;}
.dropdown.bookServ button.btn.btn-primary.dropdown-toggle:hover{color:#dcc7bb;}
.leftSidebar ul li.bookServTab, .leftSidebar ul li.bookServTab:hover{background:#5a443a; background-image:none;}
.leftSidebar ul li .dropdown.bookServ ul.dropdown-menu{background:#5a443a; width:100%; padding:0; border:0;}
.leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li{padding:0;}
.leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li a {background: #563b2d; padding: 22px 0 16px; color: #886350;}
.leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li.selected a, .leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li a:hover, .leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li a:focus{background:#907959; color:#fff;}
.contentPart.compServ{margin-top:28px !important;}
.leftSidebar ul li.bookServTab:hover:before{background-image:none !important;}
.leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li.selected:before, .leftSidebar ul li .dropdown.bookServ ul.dropdown-menu li:before{background:url(../images/selected-triangle-drp.png) no-repeat right center; top:22px;}
.caret.glyphicon.glyphicon-plus {font-weight:normal; border: 0 none; font-size: 10px; position: relative; right: -36px; top: -19px;}
.clImg {float: left;}
 .cndlTxt{color: #282727; float: left; font-size: 16px; font-weight: 600; line-height:normal; width:290px;}
 .cndlTxt a{color: #282727;}
 .cndlTxt a:hover{color: #000;}

.page-content {margin-top: 30px; margin-bottom:30px;}
.page-content h2{color:#907959; font-size:30px; font-weight:600; margin:0 0 8px; text-align: center;}
.page-content h3, .page-content h4, .page-content h5, .page-content h6{clear:both; margin:0 0 7px;}
.page-content p{font-size:16px; font-weight:400; color:#505050; margin:0 0 20px; font-family:'Open Sans'; text-align: center;}
.page-content ul {padding: 0 30px; margin:0 0 30px; float:left;}
.page-content ul li {background:url(../images/bullet.png) no-repeat scroll 0 0; clear: both; color: #907959; display: block; float: left; font-family: 'Open Sans'; font-size: 16px; font-weight: 600; line-height: 15px; list-style:none; margin: 0 0 10px; padding: 0 0 0 25px;}

@media all and (min-width: 1200px){
.col-sm-3.leftSidebar{width:264px; padding:0;}	
.col-sm-9.contentPart {margin: 37px 0 55px 40px; border:1px solid #363636; background:#fff; padding:20px 14px; line-height:normal;}}

@media screen and (min-width: 1367px) {
.col-sm-3.leftSidebar { padding:0 0 38px;}
}
/*-- User Dashboard CSS End --*/