a:link {font-size: 1em; color: #0167cc; text-decoration: none;}
a:visited {font-size: 1em; color: #0167cc; text-decoration: none;}
a:hover {color: #ffa02b;  text-decoration: none;}

#filters h3 {font-weight: bold; font-size: 1em; margin: 0px 0px 3px}
div#textfilters {border-right: #ccc 1px solid; padding-right: 0px; border-top: 0px; padding-left: 0px; padding-bottom: 0px; border-left: #ccc 1px solid; width: 128px; padding-top: 0px; border-bottom: #ccc 1px solid}
#textfilters .header {padding-right: 0.3em; padding-left: 0.3em; padding-bottom: 0.3em; padding-top: 0.3em}
#textfilters h4 {display: inline; font-weight: bold; font-size: 1em; color: #555354}
#textfilters img {border: 0px;}
#activefilters img {border: 0px;}
#textfilters .header img.help {margin: 0px 0px 0px 2px}
#textfilters .header .plusbox {float: right; margin: 2px 0px}
#textfilters ul {list-style-type: none;margin: 10px 0 10px 20px;padding: 0;}
#textfilters li {padding-right: 0px; padding-left: 7px; background: url(../images/listbullet.gif) no-repeat 1px 6px; padding-bottom: 0px; margin: 0px; padding-top: 0px}
